<header class="contenedor">
    <div class="register">REGISTER</div>
    <img class="object-contain w-36"  src="assets/img/peresoso.png" alt="">
    <form action="" class="formulario">
        <!-- username -->
        <label for="" class="entrada">
            <span class="titulo">Username:</span>
            <span><input class="input" type="text"></span>
        </label>
        <!-- password -->
        <label for="" class="entrada">
            <span class="titulo">Password:</span>
            <span><input class="input" type="password"></span>
        </label>
        <!-- repeat password -->
        <label for="" class="entrada">
            <span class="titulo">Repeat Password:</span>
            <span><input class="input" type="password"></span>
        </label>
        <!-- login -->
        <button (click)="onLogin()" class="login" for="">login</button>
        <!-- button: Ingresar -->
        <div class="pt-3">
            <button  class="btnregistrar">Registrar</button>
        </div>
    </form>

    <!-- <button  class="px-6 py-2 focus:outline-none rounded-lg  bg-blue-400 text-black border-2 border-white hover:bg-blue-800 hover:text-white">Ruta Lazy Load</button> -->
</header>
