.contenedor{
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color:  rgba(59, 130, 246);
  display: flex;
  flex-direction: column;
}

.login{
  display:flex;
  justify-content: center;
  font-size: 1.5rem;
  line-height: 2rem;
  color: white;
}

.formulario{
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}

.entrada{
  display: flex;
  flex-direction: column;
}

.titulo{
  color: rgba(243, 244, 246);
  font-size: 1rem;
  line-height: 1.5rem;
}

.input{
  width: 100%;
  border-radius: 0.375rem;
  border-width: 1px;
  padding: 0.5rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.registrate{
  color:rgb(147, 197, 253);
  text-decoration: underline;
  font-size: 0.875rem;
  line-height: 1.25rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.btningresar{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-radius: 0.5rem;
  background-color: rgba(96, 165, 250);
  color: black;
  border-width: 2px;

}

.btningresar:hover{
  background-color: rgba(30, 64, 175);
  color: white;
}
