.menuopc{
  display: flex;
  gap:0.5rem;
  padding: 1rem;
  cursor: pointer;
  border-bottom-width: 1px;
  border-right-width: 1px;
  align-items: center;
  color:black;

}

.menuopc:hover{
  background-color: rgba(37, 99, 235);
  color:white;
}

.contenedor{
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
  height: 100%;
}
