<main class="conte">
  <nav class="nav">
    <span class="cursor-pointer">
      <svg-icon class="w-12 object-contain" src="assets/img/menu.svg" ></svg-icon>
    </span><span>Bienvenido a la estructura de LazyLoad</span>
  </nav>
</main>
